body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  background-color: #181A1B;
  color: #cccccc;
  min-height: 100vh;
}

:root {
  --glitch-1: firebrick;
  --glitch-2: grey;
  /* other faves: #0c33f5 goldenrod sandybrown */
  --glitch-3: black;
}

/* Custom friend CSS 
For example:

friend-arya > a{
  ...
}

*/
.friend-evie > a {
  color: #f1e7f4;
}




/* Links */
a, .clickable {
  text-decoration: none;
  color: lightskyblue;
}

a:hover, .clickable:hover {
  color: lightgreen
}

.clickable {
  cursor: pointer;
}

/* Text */
.text-container {
  padding: 20vh 20vw;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.text-container > p, .text-container > div, .text-container > form {
  margin: 15px;
}

.text-container input {
  margin-right: 5px;
}

.content-warning {
  font-style: italic;
  opacity: 40%;
}

.publication-item > p {
  margin: 15px 15px -5px;
}

.poem-container > p {
  white-space: pre;
}

.poem-container > p {
  white-space: pre;
}

.poem-header {
  padding: 0;
  margin: 0;
}

.poem-header > div > p {
  padding: 0;
  margin: 0;
}

.poem-title {
  font-style: italic;
  font-weight: 600;
}

.poem-year {
  padding-top: 1px;
  font-style: italic;
  opacity: 0.6
}

.source-word {
  animation: glitch 3.5s steps(100) infinite;
}

.myth-container > p {
  text-indent: 4ch;
  line-height: 1.5;
}

.not-found {
  opacity: 0.5
}

/* Achievements */
.unlocked-achievement, .congratulations {
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

.locked-achievement p, .achievement-reset {
  opacity: 0.5
}

.achievement-title {
  font-weight: bold;
}

.achievement-flavor, .achievement-reset {
  font-style: italic;
}

.unlocked-achievement-runeScape {
  font-family: RuneScape;
}

.unlocked-achievement-emoGirl {
  font-family: VinylGeorge, "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.6rem;
}

/* from https://www.w3schools.com/howto/howto_css_glowing_text.asp */
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* Photos */
.photo-container {
  padding-top: 8vh;
  padding-left: 15vw;
  padding-right: 15vw; 
}

.photo-container .low-top-margin {
  padding-top: 8vh;
}

.photo-item {
  margin-bottom: 24vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal > img {
  width: 100%;
}

.vertical > img {
  width: 50%;
}

.photo-title {
  font-size: 1rem;
  margin: 2px;
  font-style: italic;
  align-self: flex-start;
}

.vertical > .photo-title {
  /* line up title with the start of vertical photos */
  margin-left: 25.5%;
}

.myth-divider {
  display: block;
  margin: 35px auto;
}

/* RuneScape */
/* static cursor by Iron Angel http://www.rw-designer.com/cursor-set/runescape */
/* animated by Tylo222 http://www.rw-designer.com/cursor-set/runescape-jagex-animated-dragon- */
@font-face { font-family: RuneScape; src: url('assets/RuneScape-Chat-Bold-07.ttf') } 
.runescape {
  background-image: url("assets/runescape_chat.webp");
  font-family: RuneScape;
  cursor: url("assets/dragon-scimitar.cur"), auto;
  text-shadow: 1px 1px black;
  color: white
}

.runescape a, .runescape .clickable {
  color: #00ffff
}

.runescape a:hover, .runescape .clickable:hover {
  color: #00ff00
}

/* Emogirl theme */
/* background from https://www.pimp-my-profile.com/myspace-layouts/code/I_m_an_emo_girl___/100025/22/ */
/* one direction cursor from https://www.cursors-4u.com/cursor/2011/11/08/one-direction-6.html */
/* bleeding skull cursor from http://www.rw-designer.com/cursor-detail/51247 */
@font-face { font-family: VinylGeorge; src: url('assets/VinylGeorge-MpdJ.ttf') } 

.emogirl {
  background-image: url("assets/girlz-background.jpg");
  color: #FA11F2;
  font-family: VinylGeorge, "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.8rem;
}

.emogirl p, .emogirl .myth-divider {
  background: black;
  padding: 4px;
  opacity: 100%;
  outline: 6px solid #FA11F2;
}

.emogirl .poem-year {
  opacity: 100%;
}

.emogirl a, .emogirl .clickable {
  text-decoration: underline;
  color: #11FfEE;
}

.emogirl a:hover, .emogirl .clickable:hover {
  color: #BB29BB
} 

.emogirl .photo-title {
  font-size: 1.8rem;
}

/* rain adapted from https://codepen.io/arickle/pen/XKjMZY */
.rain {
  position: fixed;
  left: 0;
  width: calc(95% - 15px);
  height: 100%;
  z-index: 2;
  pointer-events: none
}

.rain.back-row {
  display: none;
  z-index: 999;
  bottom: 60px;
  opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: fixed;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(105vh);
  }
  100% {
    transform: translateY(105vh);
  }
}

.stem {
  width: 2.5px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 35px;
  height: 25px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}


/* from https://alvarotrigo.com/blog/css-text-animations/ */
@keyframes glitch { 
  0% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  1% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  2% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  3% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  4% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  5% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  6% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  7% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  8% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  9% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  10% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  11% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0.5px);}
  12% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0.5px);}
  13% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0.5px);}
  14% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0);}
  15% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0);}
  16% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  17% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  18% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  19% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  20% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  21% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  22% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  23% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  24% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  25% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  26% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0.5px);}
  27% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0.5px);}
  28% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  29% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  30% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  31% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  32% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  33% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  34% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  35% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0.5px);}
  36% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0.5px);}
  37% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0.5px);}
  38% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  39% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  40% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  41% { text-shadow: 45px 0 0 var(--glitch-2), -45px 0 0 var(--glitch-3); filter: blur(0);}
  42% { text-shadow: 0 0 0 var(--glitch-2), 0 0 0 var(--glitch-3); filter: blur(0);}
  43% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0);}
  44% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0);}
  45% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0);}
  46% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0.5px);}
  47% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0.5px);}
  48% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  49% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  50% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  51% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  52% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  53% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  54% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  55% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0.5px);}
  56% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0.5px);}
  57% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0.5px);}
  58% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  59% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  60% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  61% { text-shadow: 30px 0 0 var(--glitch-1), -30px 0 0 var(--glitch-3); filter: blur(0);}
  62% { text-shadow: 0 0 0 var(--glitch-1), 0 0 0 var(--glitch-3); filter: blur(0);}
  63% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-2); filter: blur(0);}
  64% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-2); filter: blur(0);}
  65% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-2); filter: blur(0);}
  66% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-2); filter: blur(0.5px);}
  67% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0.5px);}
  68% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  69% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  70% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  71% { text-shadow: 50px 0 0 var(--glitch-1), -50px 0 0 var(--glitch-2); filter: blur(0);}
  72% { text-shadow: 0 0 0 var(--glitch-1), 0 0 0 var(--glitch-2); filter: blur(0);}
  73% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  74% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  75% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  76% { text-shadow: 3px 0 0 var(--glitch-1), -3px 0 0 var(--glitch-2); filter: blur(0);}
  77% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  78% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  79% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  80% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-2); filter: blur(0);}
  81% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0);}
  82% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0);}
  83% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0.5px);}
  84% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0.5px);}
  85% { text-shadow: 1px 0 0 var(--glitch-1), -1px 0 0 var(--glitch-3); filter: blur(0.5px);}
  86% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0.5px);}
  87% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0.5px);}
  88% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  89% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  90% { text-shadow: -3px 0 0 var(--glitch-1), 3px 0 0 var(--glitch-3); filter: blur(0);}
  91% { text-shadow: 60px 0 0 var(--glitch-3), -60px 0 0 var(--glitch-2); filter: blur(0);}
  92% { text-shadow: 0 0 0 var(--glitch-3), 0 0 0 var(--glitch-2); filter: blur(0);}
  92% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  93% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  94% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  95% { text-shadow: 0.8px 0 0 var(--glitch-2), -0.8px 0 0 var(--glitch-3); filter: blur(0);}
  96% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  97% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  98% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  99% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);}
  100% { text-shadow: -3px 0 0 var(--glitch-2), 3px 0 0 var(--glitch-3); filter: blur(0);} 
}