body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  background-color: #181A1B;
  color: lightgray;
}

/* Links */
a {
  color: lightskyblue;
  text-decoration: none;
}

a:hover {
  color: lightgreen
}

/* Text */
.text-container {
  padding-top: 20vh;
  padding-left: 20vw;
  padding-right: 20vw; 
}

.text-container > p {
  margin: 15px;
}

/* Photos */
.photo-container {
  padding-top: 8vh;
  padding-left: 15vw;
  padding-right: 15vw; 
}

.photo-item {
  margin-bottom: 14vw;
}

.photo-item > img {
  width: 100%;
}

.photo-title {
  font-size: 1rem;
  color: silver;
  margin: 2px;
  font-style: italic;
}
